.button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $btn_bg_color;
    color: $btn_color;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: $btn_hv_bg_color;
        color: $btn_hv_color;
    }
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}