.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/cons_img.jpg') center (center/cover) no-repeat;
    &__desc {
        padding-top: 80px;
        color: $main_color;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid rgb(167, 15, 15);
    }
    label.error {
        color: #ffff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

