h2 {
    padding-top: 70px;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    &__icon {
        padding-bottom: 27px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
        width: 239px;
    }
    &__head {
        padding: 38px 0 25px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    a {
        color: #ff0000;
        text-decoration: underline;
        &:hover {
            color: #ff000068;
        }
    }
}

