section {
    width: 925px;
    margin: 0 auto;
}
.paragrof {
    padding-top: 70px;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.main_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    &__icon {
        display: block;
    }
}
